<div class="auth-page col-sm-8 col-sm-offset-2">
  <%= image_tag 'la-crazy-mandoca-logo-with-letters.png', class: 'img-responsive' %>
  <h1>Create account</h1>
  <hr>
  <%= render "partials/register_form" %>
  <%= render "devise/shared/links" %>
</div>

