<article class="main-post">
    <%= render partial: 'categories/partials/post_header', locals: {post: post} %>
    <div class="article-content">
        <figure>
            <div class="corner-tag yellow">
                <a href="/categories/<%= post.category.slug %>"><%= post.category.name %></a>
            </div>
            <div class="video-wrap">
                <%=raw post.media %>
            </div>
        </figure>
    </div>
</article>
