<article class="main-post">
    <%= render partial: 'post/article_top', locals: {post: post} %>
    <div class="article-content">
        <figure>
            <div class="corner-tag yellow">
                <a href="#">CATEGORIA 2</a>
            </div>
            <div class="video-wrap">
                <%=raw post.postable.media %>
            </div>
        </figure>
    </div>
</article>