<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-top-wrap">
                    <div class="half">
                        <div class="append">Type</div>
                        <select name="post-type" class="myCombobox">
                            <option value="window-image">Image Post</option>
                            <option value="window-video">Video Post</option>
                        </select>
                    </div>
                </div>
                <div class="post-window window-video">
                    <%= form_for :video, url: '/videos', html: { multipart: true } do |f| %>
                        <div class="window-left">
                            <div class="half category-combobox">
                                <%= raw(display_categories) %>
                            </div>
                            <input type="text" class="form-control" name="post[title]" placeholder="Post title"/>
                            <!-- <textarea class="form-control" name="post[title]"  placeholder="Post title"></textarea> -->
                            <input type="text" class="form-control" name="video[url]" placeholder="Paste your Youtube link here..."/>
                            <img id="youtube-preview" class="hide youtube-preview">
                        </div>
                        <aside>
<!--                             <div class="outer">
                                <div class="inner">
                                    <div class="custom-checkbox">
                                        <input type="checkbox" value="check1" name="check" id="check7">
                                        <label for="check7">NSFW</label>
                                    </div>
                                </div>
                            </div> -->
                            <div class="tags-wrap">
                                <h3>Tags:</h3>
                                <input name="post[hashtag_list]" class="tags-selector" value="" />
                            </div>
                        </aside>
                        <div class="modal-bottom-menu">
                            <button class="btn btn-link btn-block post-submit" type="submit">Upload</button>
                        </div>
                    <% end %>
                </div>
                <div class="post-window window-image">
                    <%= form_for :image, url: '/images', html: { multipart: true, class: "dropzone", id: "my-awesome-dropzone" } do |f| %>
                        <div class="window-left">
                            <div class="half category-combobox">
                                <%= raw(display_categories) %>
                            </div>
                            <input type="text" class="form-control" name="post[title]" placeholder="Post title"/>
                            <div class="upload-wrap">
                                 <span class="btn btn-success fileinput-button file-upload-button dz-clickable">
                                     <span class="purple">DRAG/BROWSE IMAGE</span><br /><br /><br />
                                     <span>PNG, GIF or JPG accepted. <br /> Max Size is 5MB.</span>

                                </span>
                            </div>
                            <div class="upload-preview"></div>
                        </div>
                        <aside>
<!--                             <div class="outer">
                                <div class="inner">
                                    <div class="custom-checkbox">
                                        <input type="checkbox" value="check1" name="check" id="check16">
                                        <label for="check16">NSFW</label>
                                    </div>
                                </div>
                            </div> -->
                            <div class="tags-wrap">
                                <h3>Tags:</h3>
                                <input name="post[hashtag_list]" class="tags-selector" value="" />
                            </div>
                        </aside>
                        <div class="modal-bottom-menu">
                            <button class="btn btn-link btn-block post-submit" type="submit">Upload</button>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
