<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-top-menu">
                        <div class="half">
                            <button class="btn btn-link btn-block active-ind" rel="register-window">Register new account</button>
                        </div>
                        <div class="half">
                            <button class="btn btn-link btn-block" rel="login-window">Login</button>
                        </div>
                    </div>
                    <div class="modal-window register-window">
                        <form method="post" action="http://teothemes.com/wp/aruna/wp-login.php?action=register">
                            <div class="row">
                                <div class="col-sm-7 border-right">
                                    <div class="input-group">
                                        <span class="input-group-addon">Email:</span>
                                        <input name="user_email" type="text" class="form-control" placeholder="teothemes@gmail.com">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">Username:</span>
                                        <input name="user_login" type="text" class="form-control" placeholder="teothemes">
                                    </div>
                                                                            <div style="text-align: center">
                                            <div class="new-fb-btn new-fb-1 new-fb-default-anim"><div class="new-fb-1-1"><div class="new-fb-1-1-1"><a href="http://teothemes.com/wp/aruna/wp-login.php?loginFacebook=1&redirect=http://teothemes.com/wp/aruna">CONNECT WITH</a></div></div></div><br />
                                        </div>
                                                                    </div>
                                <input type="hidden" name="redirect_to" value="http://teothemes.com/wp/aruna/?register=1"/>
                                <div class="col-sm-5">
                                    <div class="vertical-half">
                                        <div class="custom-checkbox-vertical custom-checkbox">
                                            <p>I promise only to have fun here and I fully agree with the</p>
                                            <input type="checkbox" value="check1" name="check" id="agreeTerms" />
                                            <label for="agreeTerms"><a target="_blank" href="http://teothemes.com/wp/tos">Terms of Agreement.</a></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input name="submit" id="register-button" type="submit" value="NICE, REGISTER ME!" class="btn btn-primary btn-block custom-button" />
                                <a id="error-button" class="btn btn-block btn-info custom-button" target="_blank" href="http://teothemes.com/wp/tos">WHY DON'T YOU AGREE WITH OUR ToS?</a>
                            </div>
                        </form>
                    </div>
                    <div class="modal-window login-window">
                                        <form class="login_form" method="post" action="http://teothemes.com/wp/aruna/wp-login.php">
                        <div class="half-horizontal">
                            <div class="input-group">
                                <span class="input-group-addon">Username:</span>
                                <input name="log" type="text" class="form-control" placeholder="teothemes" value="">
                            </div>
                        </div>
                        <div class="half-horizontal">
                            <div class="input-group">
                                <span class="input-group-addon">Password:</span>
                                <input name="pwd" type="password" class="form-control" placeholder="password" value="">
                            </div>
                        </div>
                                                    <div style="text-align: center; clear: both; margin-bottom: 10px; position: relative; top: -15px;">
                                <div class="new-fb-btn new-fb-1 new-fb-default-anim"><div class="new-fb-1-1"><div class="new-fb-1-1-1"><a href="http://teothemes.com/wp/aruna/wp-login.php?loginFacebook=1&redirect=http://teothemes.com/wp/aruna">CONNECT WITH</a></div></div></div><br />
                            </div>
                                                <div class="modal-footer">
                            <input name="wp-submit" id="login-button" type="submit" value="LOGIN!" class="btn btn-primary btn-block custom-button" />
                        </div>
                        <input type="hidden" name="redirect_to" value="http://teothemes.com/wp/aruna" />
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-top-menu">
                        <div class="half">
                            <button class="btn btn-link btn-block" rel="register-window">Register new account</button>
                        </div>
                        <div class="half">
                            <button class="btn btn-link btn-block active-ind" rel="login-window">Login</button>
                        </div>
                    </div>
                    <div class="modal-window register-window">
                        <form method="post" action="http://teothemes.com/wp/aruna/wp-login.php?action=register">
                            <div class="row">
                                <div class="col-sm-7 border-right">
                                    <div class="input-group">
                                        <span class="input-group-addon">Email:</span>
                                        <input name="user_email" type="text" class="form-control" placeholder="teothemes@gmail.com">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">Username:</span>
                                        <input name="user_login" type="text" class="form-control" placeholder="teothemes">
                                    </div>
                                                                            <div style="text-align: center">
                                            <div class="new-fb-btn new-fb-1 new-fb-default-anim"><div class="new-fb-1-1"><div class="new-fb-1-1-1"><a href="http://teothemes.com/wp/aruna/wp-login.php?loginFacebook=1&redirect=http://teothemes.com/wp/aruna">CONNECT WITH</a></div></div></div><br />
                                        </div>
                                                                    </div>
                                <input type="hidden" name="redirect_to" value="http://teothemes.com/wp/aruna/?register=1"/>
                                <div class="col-sm-5">
                                    <div class="vertical-half">
                                        <div class="custom-checkbox-vertical custom-checkbox">
                                            <p>I promise only to have fun here and I fully agree with the</p>
                                            <input type="checkbox" value="check1" name="check" id="agreeTerms2" />
                                            <label for="agreeTerms2"><a target="_blank" href="http://teothemes.com/wp/tos">Terms of Agreement.</a></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input name="submit" id="register-button2" type="submit" value="NICE, REGISTER ME!" class="btn btn-primary btn-block custom-button" />
                                <a id="error-button2" class="btn btn-block btn-info custom-button" target="_blank" href="http://teothemes.com/wp/tos">WHY DON'T YOU AGREE WITH OUR ToS?</a>
                            </div>
                        </form>
                    </div>
                    <div class="modal-window login-window">
                        <%= form_for(:user, url: session_path(:user), :html => {:class => "login_form"}) do |f| %>
                            <div class="half-horizontal">
                                <div class="input-group">
                                    <span class="input-group-addon">Email:</span>
                                    <%= f.email_field :email, class: 'form-control' %>
                                </div>
                            </div>
                            <div class="half-horizontal">
                                <div class="input-group">
                                    <span class="input-group-addon">Password:</span>
                                    <%= f.password_field :password, class: 'form-control' %>
                                </div>
                            </div>
                             <div class="modal-footer">
                                <%= f.submit "Log in", class: "btn btn-primary btn-block custom-button" %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
