<div class="container">
  <div class="row">
    <div class="col-md-10 col md-offset-1">
      <% @posts.each do |post| %>
        <article class="row">
          <h1><%= post.title %></h1>
          <%= image_tag post.media_url.url(:medium) %>
        </article>
      <% end %>
    </div>
  </div>
</div>
