<div class="container">
    <div class="row">
        <div class="col-sm-9 right-content">
            <div class="row">
                <div class="col-sm-9">
                    <div class="main-wrap">
                      <% @posts.each do |post| %>
                        <% if post.postable_type == 'Video' %>
                          <%= render partial: "video/show", locals: {post: post} %>
                        <% else %>
                          <%= render partial: "image/show", locals: {post: post} %>
                        <% end %>
                      <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>