<div class="col-sm-7">
    <div class="row">
      <div class="main-wrap">
        <% @posts.each do |post| %>
          <%= render partial: "#{post.mediable_type.to_s.downcase.pluralize}/partials/show", locals: {post: post} %>
        <% end %>
      </div>
    </div>
</div>
