<div class="col-sm-7">
    <div class="row">
      <div class="main-wrap" id="my-posts">
        <% @posts.each do |post| %>
          <%= render partial: "#{post.mediable_type.to_s.downcase.pluralize}/partials/show", locals: {post: post} %>
        <% end %>
      </div>
      <hr class="paginate_separator">
      <div id="infinite-scrolling">
        <%= will_paginate @posts %>
      </div>
    </div>
</div>
<%= render partial: "layouts/sidebar" %>