<article class="main-post" id="post_<%= post.id %>">
    <%= render partial: 'posts/shared/post_top', locals: {post: post} %>
    <div class="article-content">
        <figure>
            <%= image_tag post.media %>
        </figure>
    </div>
</article>
