<article class="main-post">
    <%= render partial: 'posts/article_top', locals: {post: post} %>
    <div class="article-content">
        <figure>
            <div class="corner-tag blue">
                <a href="#">CATEGORIA 1</a>
            </div>
            <%= image_tag post.postable.media.url(:large) %>
        </figure>
    </div>
</article>
