<div class="col-sm-7">
    <div class="row">
      <div class="main-wrap">
        <article class="post-page">
            <%= render partial: "#{@post.mediable_type.to_s.downcase.pluralize}/partials/show", locals: {post: @post} %>
        </article>
            <div class="article-infos">
                <h2>Post hashtags</h2>
                <hr/>
                <div class="tags">
                    <ul>
                        <% @post.hashtag_list.each do |hashtag| %>
                            <li><a href="<%= hashtag_path(hashtag) %>"><%= hashtag %></a></li>
                        <% end %>
                    </ul>
                    <% if @post.hashtag_list.empty? %>
                        <p>This post has no hashtags... *sad panda*</p>
                    <% end %>
                </div>
<!--                 <div class="comments-counter">
                    <button class="btn btn-primary custom-button pull-right">Comment</button>
                    <div class="text">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#normalComments">3 comments</a></li>
                            <li><a href="#facebookComments">Facebook comments</a></li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="normalComments">
                        <div class="comments-wrap">
                            <ul>
                                <li>
                                    <div class="comment">
                                        <figure>
                                            <img src="img/comment-user01.png" alt=""/>
                                        </figure>
                                        <div class="comment-text">
                                            <span class="counter">01</span>
                                            <h3><a href="#">Darthy Vado</a></h3>
                                            <div class="like-box">
                                                <div class="like"><a href="#"><i class="icon-like"></i> 56</a></div>
                                                <div class="dislike"><a href="#"><i class="icon-dislike"></i> 32</a></div>
                                            </div>
                                            <hr/>
                                            <div class="message">
                                                <p>Ask especially collecting terminated may son expression. Extremely eagerness principle estimable own was man. Men received far his dashwood subjects new.</p>
                                            </div>
                                            <div class="controls-box">
                                                <a href="#" class="button"><i class="icon-quote"></i></a>
                                                <a href="#" class="button"><i class="icon-replay"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <h2>Add Comment</h2>
                        <hr/>
                        <div class="comments-form">
                            <div class="input-group">
                                <span class="input-group-addon"><img src="img/user-box.png" alt=""/></span>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">Your Website:</span>
                                <input type="text" class="form-control"  />
                            </div>
                            <textarea class="form-control" rows="10">
                            </textarea>
                            <input type="submit" value="Post comment" class="btn btn-primary btn-lg custom-button"/>
                        </div>
                    </div>
                    <div class="tab-pane" id="facebookComments">
                        <div class="fb-comments" data-href="http://example.com/comments" data-colorscheme="light" data-numposts="5" data-width="400px"></div>
                    </div>
                </div> -->
            </div>
      </div>
    </div>
</div>
