/*
 *= require commontator/application
*/
@import url(https://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);

/*

LIB

 */
$screen-sm-min: 992px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "mCustomScrollbar";
@import "tagsinput";
@import "selectBoxIt";
@import "animate";

/*

DESIGN & COMPONENTS

 */
@import "aruna/aruna";
@import "custom";
@import "video";

/*

FLASH MESSAGES

 */

#flash_notice, #flash_success{
  margin: 25px auto;
  @extend .alert;
  @extend .alert-success;
}

#flash_error, #flash_alert{
  margin: 25px auto;
  @extend .alert;
  @extend .alert-danger;
}

#flash_warning{
  margin: 25px auto;
  @extend .alert;
  @extend .alert-warning;
}


.modal-dialog{
  margin: 0 auto;
}

.navbar-default .navbar-toggle {
    border-color: transparent;

    &:hover, &:focus{
      background-color: transparent;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

@media(max-width: 991px){
  .navbar-nav{
    margin: 0 -15px;
  }
}