<div class="article-content">
    <figure>
        <div class="corner-tag blue">
            <a href="#">CATEGORIA 1</a>
        </div>
        <%= image_tag post.media.url(:large) %>
    </figure>
</div>
