<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <div class="footer-widget">
                    <h1>
                        <figure class="footer-logo">
                            <a href="/"><%= image_tag('la-crazy-mandoca-logo-with-letters.png', class: 'footer-logo') %></a>
                        </figure>
                    </h1>
                    <hr />
                    <div class="widget-content">
<!--                         <figure class="footer-logo">
                            <a href="/"><%= image_tag('la-crazy-mandoca-logo-with-letters.png', class: 'footer-logo') %></a>
                        </figure> -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nisl quam, lobortis vitae dui vel, rutrum sagittis sapien. Curabitur viverra bibendum sapien vitae porta. Praesent tincidunt libero a tellus faucibus, sed accumsan elit euismod. Vestibulum bibendum sapien accumsan, dapibus quam non, iaculis enim.</p>
                    </div>
                </div>
            </div>
<!--             <div class="col-sm-4 col-sm-offset-1">
                <div class="footer-widget">
                    <h2>Funny stuff this week</h2>
                    <hr />
                    <div class="widget-content">
                        <div class="post-preview">
                            <div class="left">
                                <figure class="small">
                                    <a href="post.html">
                                        <img src="assets/footer-img-small01.jpg" alt=""/>
                                    </a>
                                </figure>
                                <figure class="small">
                                    <a href="post.html">
                                        <img src="assets/footer-img-small02.jpg" alt=""/>
                                    </a>
                                </figure>
                            </div>
                            <div class="left">
                                <figure class="small">
                                    <a href="post.html">
                                        <img src="assets/footer-img-small02.jpg" alt=""/>
                                    </a>
                                </figure>
                                <figure class="small">
                                    <a href="post.html">
                                        <img src="assets/footer-img-small01.jpg" alt=""/>
                                    </a>
                                </figure>
                            </div>
                            <div class="right">
                                <figure class="big">
                                    <a href="post.html">
                                        <img src="assets/footer-img-big01.jpg" alt=""/>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <div class="footer-widget">
                    <h2>Best footer widget award</h2>
                    <hr />
                    <div class="widget-content">
                        <a href="#" class="btn btn-primary btn-block custom-button">Press this button</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</footer>